:root {
  --background-black: #050505;
  --magenta: #e72f73;
}
html,
body {
  padding: 0;
  margin: 0;
  font-size: 18px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
.italic {
  font-family: 'IBMPlexBoldItalic';
}

@font-face {
  font-family: 'IBMPlex';
  src: url('./fonts/IBMPlexSans-Regular.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'IBMPlexBold';
  src: url('./fonts/IBMPlexSans-Bold.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'IBMPlexBoldItalic';
  src: url('./fonts/IBMPlexSans-BoldItalic.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'NanumGothicCoding';
  src: url('./fonts/NanumGothicCoding-Regular.ttf');
  font-display: swap;
}
